<!DOCTYPE html>
<html>

<head>
  <title>Food Center</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b5123099c5.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

  <!-- Bootstrap Datepicker CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <!-- <style>
      .sidebar-dark-primary {
        background-color: #030025 !important; /* Change to green color */
      }
    </style> -->
</head>

<body>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link logo-switch this">
      Food Center
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">
            <%= (!!locals.admin)?admin:'Admin' %>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2 ">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <!-- Thống Kê -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/thong-ke/doanh-thu" class="nav-link ">

                  <p>Thống kê doanh thu</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/thong-ke/mon-ban-chay" class="nav-link active">

                  <p>Thống kê món bán chạy</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý món -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/mon/danh-sach" class="nav-link">

                  <p>Quản lý món</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/loai-mon/danh-sach" class="nav-link">

                  <p>Quản lý loại món</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- hóa đơn -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/hoa-don/danh-sach" class="nav-link ">

                  <p>Quản lý hóa đơn</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- Quản lý cửa hàng -->
          <li class="nav-item menu-open">

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/cua-hang/danh-sach" class="nav-link">

                  <p>Quản lý cửa hàng</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/quan-ly/danh-sach" class="nav-link">

                  <p>Quản lý tài khoản</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý khuyến mãi -->
          <li class="nav-item menu-open">

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/khuyen-mai/danh-sach" class="nav-link">

                  <p>Quản lý khuyến mãi</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý khách hàng -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/khach-hang/danh-sach" class="nav-link">

                  <p>Quản lý khách hàng</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/slide" class="nav-link">

                  <p>Quản lý quảng cáo</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- Đăng xuất -->
          <li class="nav-item border-top border-1 ">
            <a href="/auth/sign-out" class="nav-link">
              <p>
                Đăng xuất
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- <h1><%= (!!locals.title)?title:'' %></h1> -->

  <div class="content-wrapper bg-white" style="min-height: 100vh; max-height: 100vh; overflow-y: auto;">
    <div class="content-header border border-bottom-1">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Thống Kê Món Bán Chạy</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Thống kê</a></li>
              <li class="breadcrumb-item active">Món bán chạy</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <section class="content">
      <div class="container-fluid bg-white m-2">

        <!-- Main content nằm ở dây -->
        <!-- Bắt đầu filter -->
        <form action="/thong-ke/mon-ban-chay-filter" method="GET">

          <!-- tìm theo tên loại món, theo ngày-->
          <div class="d-flex row justify-content-between mb-1">
            <div class="col-3">
              <input type="text" class="form-control" name="tenMon" placeholder="Nhập tên món để tìm kiếm">
            </div>

            <div class="col-3">
              <select class="form-control" name="tenLM">
                <option value="">Tất cả lọai món</option>
                <% for (var i=0; i<AllLoaiMon.length; i++) {%>
                  <option value="<%=AllLoaiMon[i].tenLM%>">
                    <%=AllLoaiMon[i].tenLM%>
                  </option>
                  <%}%>
              </select>
            </div>

            <div class="col-2">
              <select class="form-control" name="thang" id="thangSelect">
                <option value="">Tháng</option>
                <% for (var i=1; i <=12; i++) { %>
                  <% if (currentMonth && currentMonth==i) { %>
                    <option value="<%= i %>" selected>Tháng <%= i %>
                    </option>
                    <% } else { %>
                      <option value="<%= i %>">Tháng <%= i %>
                      </option>
                      <% } %>
                        <% } %>
              </select>
            </div>


            <div class="input-group col-2">
              <input type="text" class="form-control" value="<%=currentYear%>" name="nam" id="yearPicker"
                placeholder="Chọn năm" autocomplete="off">
            </div>

            <div class="col-2">
              <button class="btn btn-dark w-100" type="submit">Tìm kiếm</button>
            </div>
          </div>
        </form>
        <!-- Kết thúc filter -->

        <!-- Bắt đầu bảng -->
        <table class="table table-bordered border-secondary">
          <thead>
            <tr class="table-secondary">
              <td scope="col-1">STT</td>
              <td scope="col-2">Tên món</td>
              <td scope="col-1">Giá tiền</td>
              <td scope="col-1">Loại món</td>
              <td scope="col-8">Doanh thu</td>
              <td scope="col-8">Chức năng</td>
            </tr>
          </thead>
          <tbody>
            <%if(!!locals.monBanChay){%>
              <% for (var i=0; i<monBanChay.length; i++) {%>
                <tr>
                  <td scope="col-1">
                    <%=i+1%>
                  </td>
                  <td scope="col-2">
                    <%=monBanChay[i].tenMon%>
                  </td>
                  <td scope="col-1">
                    <%=monBanChay[i].giaTien.toLocaleString()%>đ
                  </td>
                  <td scope="col-1">
                    <%=monBanChay[i].tenLM%>
                  </td>
                  <td scope="col-8">
                    <%=monBanChay[i].doanhThu.toLocaleString()%>đ
                  </td>
                  <td class="text-primary" scope="col-1">
                    <a href="/mon/chi-tiet/<%=monBanChay[i]._id%>">Chi tiết</a>
                  </td>
                </tr>
                <%}%>
                  <%}else{%>
                    <tr>
                      <td scope="col-1">0</td>
                      <td scope="col-2">0</td>
                      <td scope="col-9">0</td>
                      <td scope="col-9">0</td>
                      <td scope="col-9">0</td>
                      <td scope="col-9">0</td>
                    </tr>
                    <%}%>

          </tbody>
        </table>
        <!--kết thúc bảng -->

        <!-- Phân trang hiển thị-->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <% for (var i=1; i <=totalPages; i++) { %>
              <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                <a class="page-link" href="?trang=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <% } %>
          </ul>
        </nav>
      </div>
    </section>
  </div>
  <!-- Bootstrap Datepicker JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

  <!-- Scripts -->
  <script type="text/javascript">
    $(document).ready(function () {
      $(".open").click(function (e) {
        e.stopPropagation()
        e.preventDefault()
        $(this).parent().toggleClass('menu-open');
      })
    });


    // Khởi tạo datepicker chỉ hiển thị năm
    $(document).ready(function () {
      $('#yearPicker').datepicker({
        format: "yyyy",
        viewMode: "years",
        minViewMode: "years",
        autoclose: true,
        clearBtn: true
      });

      // Xử lý sự kiện khi nút "Xóa" được nhấn
      $('#clearBtn').click(function () {
        $('#yearPicker').val('');
      });
    });
    function getUrlParameter(name) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    function fillFormFieldsFromURL() {
      var tenMon = getUrlParameter('tenMon') || '';
      var tenLM = document.querySelector('select[name="tenLM"]').value;
      var thang = document.querySelector('select[name="thang"]').value;
      var nam = document.querySelector('input[name="nam"]').value;

      document.querySelector('input[name="tenMon"]').value = tenMon;
    }


    window.onload = function () {
      fillFormFieldsFromURL()
      // Lấy URL hiện tại
      var currentUrl = window.location.href;

      // Phân tích các tham số truy vấn từ URL
      var urlParams = new URLSearchParams(currentUrl.split('?')[1]);

      // Lấy giá trị của các tham số từ URL
      var selectedLM = urlParams.get('tenLM');
      var selectedMonth = urlParams.get('thang');
      var selectedYear = urlParams.get('nam');

      // Gán giá trị của các tham số cho các trường trong biểu mẫu
      if (selectedLM) {
        document.querySelector('select[name="tenLM"]').value = selectedLM;
      }
      if (selectedMonth) {
        document.querySelector('select[name="thang"]').value = selectedMonth;
      }
      if (selectedYear) {
        document.querySelector('input[name="nam"]').value = selectedYear;
      }

      // Đánh dấu trang đã được tải lại từ tìm kiếm
      localStorage.setItem('isReloaded', 'true');
    };


    



  </script>
</body>

</html>