<!DOCTYPE html>
<html>

<head>
  <title>Food Center</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b5123099c5.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <!-- <style>
      .sidebar-dark-primary {
        background-color: #030025 !important; /* Change to green color */
      }
    </style> -->
</head>

<body>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link logo-switch this">
      Food Center
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">
            <%= (!!locals.admin)?admin:'Admin' %>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <!-- Thống Kê -->
          <li class="nav-item">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Thống kê
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/thong-ke/doanh-thu" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Doanh thu</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/thong-ke/mon-ban-chay" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Món bán chạy</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý khách hàng -->
          <li class="nav-item">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Quản lý khách hàng
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/khach-hang/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh sách</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý khuyến mãi -->
          <li class="nav-item">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-tags"></i>
              <p>
                Quản lý khuyến mãi
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/khuyen-mai/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh sách</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/khuyen-mai/them-moi" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm mới</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý món -->
          <li class="nav-item">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-utensils"></i>
              <p>
                Quản lý món
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/mon/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh sách</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/loai-mon/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Loại món</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý cửa hàng -->
          <li class="nav-item menu-open">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-store"></i>
              <p>
                Quản lý cửa hàng
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/cua-hang/danh-sach" class="nav-link  active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh sách</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/cua-hang/them-moi" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm mới</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/quan-ly/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tài khoản quản lý</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- hóa đơn -->
          <li class="nav-item ">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Quản lý Hóa Đơn
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/hoa-don/danh-sach" class="nav-link ">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh sách</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Đăng xuất -->
          <li class="nav-item border-top border-1 ">
            <a href="/auth/sign-out" class="nav-link">
              <i class="fa-solid fa-arrow-right-from-bracket nav-icon"></i>
              <p>
                Sign-Out
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- <h1><%= (!!locals.title)?title:'' %></h1> -->

  <div class="content-wrapper bg-white" style="min-height: 100vh; max-height: 100vh; overflow-y: auto;">
    <div class="content-header border border-bottom-1">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <span class="h2" style="margin: 15px;">Chi Tiết Cửa Hàng</span>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Cửa hàng</a></li>
              <li class="breadcrumb-item"><a href="#">Danh sách</a></li>
              <li class="breadcrumb-item active">Chi tiết</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <section class="content">
      <div class="container-fluid bg-white m-2">

        <!-- Main content nằm ở dây -->

        <!-- Bắt đầu chi tiết -->
        <h3>
          <%=chiTietCH.tenCH%>
        </h3>
        <label class="font-weight-normal">Email: <%=chiTietCH.email%></label>
        <br>
        <label class="font-weight-normal">Số điện thoại: <%=chiTietCH.sdt%></label>
        <br>
        <label class="font-weight-normal">Địa chỉ: <%=chiTietCH.diaChi%></label>
        <br>
        <label class="font-weight-normal">Số lượng nhân viên: <%=chiTietCH.soLuongNhanVien%></label>
        <br>
        <label class="font-weight-normal">Thời gian mở cửa: <%=chiTietCH.thoiGianMo%></label>
        <br>
        <label class="font-weight-normal">Thời gian đóng cửa: <%=chiTietCH.thoiGianDong%></label>
        <br>
        <label class="font-weight-normal">Trạng thái: </label>
        <% if(chiTietCH.trangThai==true){%>
          <label class="text-success font-weight-normal" scope="col-2">Hoạt động</label>
          <%}else{%>
            <label class="text-danger font-weight-normal" scope="col-2">Khóa</label>
            <%}%>
              <br>

              <!-- Kết thúc chi tiết -->

              <!-- Bắt đầu bảng tài khoản quản lý -->
              <label>Danh sách tài khoản quản lý</label>
              <br>
              <label class="font-weight-normal">Đã tìm thấy <%=NVQL.length%> kết quả </label>

              <table class="table table-bordered border-secondary">
                <thead>
                  <tr class="table-secondary">
                    <td scope="col-1" class="col-1">STT</td>
                    <td scope="col-2" class="col-5">Tên quản lý</td>
                    <td scope="col-2" class="col-2">Số điện thoại</td>
                    <td scope="col-2" class="col-2">Trạng thái</td>
                    <td scope="col-1" class="col-2">Chức năng</td>
                  </tr>
                </thead>
                <tbody>
                  <%if(NVQL==null || NVQL==undefined){%>
                    <tr>
                      <td scope="col-1" class="col-1"></td>
                      <td scope="col-2" class="col-5"></td>
                      <td scope="col-2" class="col-2"></td>
                      <td scope="col-2" class="col-2"></td>
                      <td scope="col-1" class="col-2"></td>
                    </tr>
                    <%}else{%>
                      <% for (var i=0; i<NVQL.length; i++) {%>
                        <tr>
                          <td scope="col-2" class="col-1">
                            <%=i+1%>
                          </td>
                          <td scope="col-1" class="col-5">
                            <%=NVQL[i].tenNV%>
                          </td>
                          <td scope="col-2" class="col-2">
                            <%=NVQL[i].sdt%>
                          </td>
                          <td class="text-primary scope-col-2">
                            <a data-toggle="modal" data-target="#suaTrangThaiModal"
                              class=" <%= NVQL[i].trangThai ? 'text-success' : 'text-danger' %>"
                              data-idch="<%=chiTietCH._id%>" data-idnv="<%=NVQL[i]._id%>"
                              data-trangthai="<%=NVQL[i].trangThai%>">
                              <%= NVQL[i].trangThai ? 'Hoạt động' : 'Khóa' %>
                            </a>
                          </td>

                          <td class="text-primary" scope="col-1">
                            <a href="#" data-toggle="modal" data-target="#staticBackdrop"
                              data-tenNV="<%=NVQL[i].tenNV%>" data-thoiGianTao="<%=NVQL[i].thoiGianTao%>"
                              data-sdt="<%=NVQL[i].sdt%>" data-phanQuyen="<%=NVQL[i].phanQuyen%>"
                              data-trangThai="<%=NVQL[i].trangThai%>" data-taiKhoan="<%=NVQL[i].taiKhoan%>"
                              data-diaChi="<%=NVQL[i].diaChi%>" data-gioiTinh="<%=NVQL[i].gioiTinh%>">Chi tiết</a>
                          </td>
                        </tr>
                        <%}%>
                          <%}%>
                </tbody>
              </table>
              <div class="row justify-content-center">
                <button data-toggle="modal" data-target="#themNhanVienQuanLy" type="button"
                  data-idch="<%=chiTietCH._id%>" class="btn btn-dark col-2">
                  Thêm mới
                </button>
              </div>

              <!-- Kết thúc bảng tài khoản quản lý-->

              <!-- Bắt đầu bảng món của cửa hàng -->
              <label>Danh sách món của cửa hàng</label>
              <br>
              <label class="font-weight-normal">Đã tìm thấy kết quả</label>

              <table class="table table-bordered border-secondary">
                <thead>
                  <tr class="table-secondary">
                    <td scope="col-1" class="col-1">STT</td>
                    <td scope="col-2" class="col-2">Tên món</td>
                    <td scope="col-2" class="col-2">loại món</td>
                    <td scope="col-2" class="col-2">Cửa hàng</td>
                    <td scope="col-2" class="col-1">Giá tiền</td>
                    <td scope="col-2" class="col-2">Trạng thái</td>
                    <td scope="col-1" class="col-2">Chức năng</td>
                  </tr>
                </thead>
                <tbody>
                  <%if(monCH==null || monCH==undefined){%>
                    <tr>
                      <td scope="col-1" class="col-1"></td>
                      <td scope="col-2" class="col-2"></td>
                      <td scope="col-2" class="col-2"></td>
                      <td scope="col-2" class="col-2"></td>
                      <td scope="col-2" class="col-1"></td>
                      <td scope="col-2" class="col-2"></td>
                      <td scope="col-1" class="col-2"></td>
                    </tr>
                    <%}else{%>
                      <% for (var i=0; i<monCH.length; i++) {%>
                        <tr>
                          <td scope="col-2" class="col-1">
                            <%=i+1%>
                          </td>
                          <td scope="col-1" class="col-2">
                            <%=monCH[i].tenMon%>
                          </td>
                          <td scope="col-2" class="col-2">
                            <%=monCH[i].tenLM%>
                          </td>
                          <td scope="col-2" class="col-2">
                            <%=monCH[i].tenCH%>
                          </td>
                          <td scope="col-2" class="col-1">
                            <%=monCH[i].giaTien.toLocaleString()%>đ
                          </td>
                          <td class="text-primary scope-col-2">
                            <a data-toggle="modal" data-target="#suaTrangThaiModalMon"
                              class=" <%= monCH[i].trangThai ? 'text-success' : 'text-danger' %>" data-idmon="<%=monCH[i]._id%>"
                              data-trangthai="<%=monCH[i].trangThai%>">
                              <%= monCH[i].trangThai ? 'Hoạt động' : 'Khóa' %>
                            </a>
                          </td>
                          <td class="text-primary" scope="col-1">
                            <a href="/mon/chi-tiet/<%=monCH[i]._id%>">Chi tiết</a>
                          </td>
                        </tr>
                        <%}%>
                          <%}%>
                </tbody>
              </table>
              <!-- modal them nhan vien quản lý  -->
              <div class="modal fade" id="themNhanVienQuanLy" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Thêm nhân viên quản lý</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="formThemNhanVien" method="post" action="/cua-hang/them-nv/<%=chiTietCH._id%>">
                        <div class="form-group">
                          <label for="taiKhoan">Tài Khoản</label>
                          <input type="text" class="form-control" name="taiKhoan" id="taiKhoan"
                            placeholder="nhập tài khoản ">
                        </div>
                        <div class="form-group">
                          <label for="matKhau">Mật khẩu</label>
                          <input type="text" class="form-control" name="matKhau" id="matKhau"
                            placeholder="nhập mật khẩu ">
                        </div>
                        <div class="form-group">
                          <label for="tenNV">Nhập tên nhân viên</label>
                          <input type="text" class="form-control" name="tenNV" id="tenNV" placeholder="Tên nhân viên">
                        </div>
                        <div class="form-group">
                          <label for="gioiTinh">Giới tính</label><br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gioiTinh" id="gioiTinhNam" value="1"
                              checked>
                            <label class="form-check-label" for="gioiTinhNam">Nam</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gioiTinh" id="gioiTinhNu" value="2">
                            <label class="form-check-label" for="gioiTinhNu">Nữ</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="sdt">Số điện thoại</label>
                          <input type="text" class="form-control" name="sdt" id="sdt" placeholder="số điện thoại">
                        </div>
                        <div class="form-group">
                          <label for="diaChi">Địa chỉ</label>
                          <input type="text" class="form-control" name="diaChi" id="diaChi" placeholder="địa chỉ">
                        </div>
                        <div class="form-group">
                          <label class="form-label" for="hinhAnh">Hình ảnh</label>
                          <div>
                            <input type="file" accept="image/*" class="form-control-file" name="hinhAnh" id="hinhAnh"
                              onchange="previewImage(event)">
                            <span id="fileName" style="display:none;"></span>
                          </div>
                        </div>
                        <input type="hidden" class="form-control" name="idCH" id="idCH">
                        <br>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <% if(typeof alert !=='undefined' && alert !==null) { %>
                <input type="hidden" id="thongBao" value="<%= alert %>">
                <% } else { %>
                  <input type="hidden" id="thongBao" value="">
                  <% } %>

                    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body" id="alertContent">
                            <!-- Nội dung cảnh báo sẽ được thêm vào đây -->
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">chi tiết nhân viên quản lý</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><strong>Tên nhân viên:</strong> <span id="tenNV"></span></p>
                            <p><strong>Tài khoản:</strong> <span id="taiKhoan"></span></p>
                            <p><strong>Thời gian tạo:</strong> <span id="thoiGianTao"></span></p>
                            <p><strong>Số điện thoại:</strong> <span id="sdt"></span></p>
                            <p><strong>Phân quyền:</strong> <span id="phanQuyen"></span></p>
                            <p><strong>Trạng thái:</strong> <span id="trangThai"></span></p>
                            <p><strong>Địa chỉ:</strong> <span id="diaChi"></span></p>
                            <p><strong>Giới tính:</strong> <span id="gioiTinh"></span></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="suaTrangThaiModal" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalLabel1" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Sửa Trạng Thái</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form id="formSuaTrangThai" action="/cua-hang/xoa/NVQL[i]._id" method="post">
                              <div class="form-group">
                                <label for="trangThai">Bạn có muốn sửa không?</label>
                                <input type="hidden" class="form-control" name="idCH1" id="idCH1"
                                  value="<%=chiTietCH._id%>">
                              </div>
                              <div class="modal-footer justify-content-end">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Sửa</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal Sửa Trạng Thái -->
                    <div class="modal fade" id="suaTrangThaiModalMon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Sửa Trạng Thái</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form id="formSuaTrangThaiMon" action="/cua-hang/xoa-mon/monCH[i]._id" method="get">
                            <div class="form-group">
                              <label for="trangThai">Bạn có muốn sửa trạng thái không?</label>
                            </div>
                            <div class="modal-footer justify-content-end">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                              <button type="submit" class="btn btn-primary">Sửa</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <!-- Kết thúc bảng tài khoản quản lý-->
      </div>
    </section>
  </div>

  <!-- Scripts -->
  <script type="text/javascript">
    $(document).ready(function () {
      $(".open").click(function (e) {
        e.stopPropagation()
        e.preventDefault()
        $(this).parent().toggleClass('menu-open');
      }
      )
    }
    )
    $(document).ready(function () {
      // Khi nút "Thêm mới" được nhấp
      $('button[data-target="#themNhanVienQuanLy"]').on('click', function () {
        var idCH = $(this).data('idch');
        $('#idCH').val(idCH);

      });
    });
    $(document).ready(function () {
      // Khi nút "Thêm mới" được nhấp
      $('button[data-target="#suaTrangThaiModal"]').on('click', function () {
        var idCH = $(this).data('idch');
        $('#idCH1').val(idCH);

      });
    });


    function previewImage(event) {
      var selectedImage = document.getElementById('selectedImage');
      selectedImage.style.display = 'block';
      selectedImage.src = URL.createObjectURL(event.target.files[0]);
    }

    var alertContent = document.getElementById("thongBao").value;
    // Kiểm tra xem alertContent có giá trị không
    if (alertContent) {
      // Hiển thị cảnh báo trong modal
      var modal = $('#alertModal');
      var alertText = $('#alertContent');
      alertText.text(alertContent);

      // Hiển thị modal
      modal.modal('show');

      // Đóng modal sau một khoảng thời gian (3 giây)
      setTimeout(function () {
        modal.modal('hide');
      }, 2000);
    }
    function convertTrangThai(trangThai) {
      if (trangThai === true) {
        return "Hoạt động";
      } else {
        return "Ngưng hoạt động";
      }
    }
    function convertPhanQuyen(phanQuyen) {
      if (phanQuyen === 0) {
        return "Nhân viên quản lý";
      } else if (phanQuyen === 1) {
        return "Nhân viên thường";
      } else {
        return "đợi duyệt";
      }
    }

    // Hàm chuyển đổi giới tính
    function convertGioiTinh(gioiTinh) {
      if (gioiTinh === 1) {
        return "Nam";
      } else if (gioiTinh === 2) {
        return "Nữ";
      } else {
        return "Không xác định";
      }
    }
    $(document).ready(function () {
      $('a[data-target="#staticBackdrop"]').on('click', function () {
        var tenNV = $(this).data('tennv');
        var tenCH = $(this).data('tench');
        var thoiGianTao = moment($(this).data('thoigiantao')).format('DD/MM/YYYY'); // Format thời gian tạo
        var sdt = $(this).data('sdt');
        var phanQuyen = $(this).data('phanquyen');
        var trangThai = $(this).data('trangthai');
        var taiKhoan = $(this).data('taikhoan');
        var diaChi = $(this).data('diachi');
        var gioiTinh = $(this).data('gioitinh');


        var trangThaiText = convertTrangThai(trangThai);
        var gioiTinhText = convertGioiTinh(gioiTinh);
        var phanQuyenText = convertPhanQuyen(phanQuyen);

        $('#staticBackdrop').find('#tenNV').text(tenNV);
        $('#staticBackdrop').find('#tenCH').text(tenCH);
        $('#staticBackdrop').find('#thoiGianTao').text(thoiGianTao);
        $('#staticBackdrop').find('#sdt').text(sdt);
        $('#staticBackdrop').find('#phanQuyen').text(phanQuyenText);
        $('#staticBackdrop').find('#trangThai').text(trangThaiText);
        $('#staticBackdrop').find('#taiKhoan').text(taiKhoan);
        $('#staticBackdrop').find('#diaChi').text(diaChi);
        $('#staticBackdrop').find('#gioiTinh').text(gioiTinhText);
      });
    });

    $(document).ready(function () {
      $('a[data-target="#suaTrangThaiModal"]').on('click', function () {
        var idNV = $(this).data('idnv');

        $('#idNV').val(idNV);

        $('#formSuaTrangThai').attr('action', '/cua-hang/xoa/' + idNV);

      });
    });

    $(document).ready(function () {
      $('a[data-target="#suaTrangThaiModalMon"]').on('click', function () {

        var idMon = $(this).data('idmon');

        $('#idMon').val(idMon);

        $('#formSuaTrangThaiMon').attr('action', '/cua-hang/xoa-mon/' + idMon);
      });
    });
  </script>
</body>

</html>