<!DOCTYPE html>
<html>

<head>
  <title>Food Center</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b5123099c5.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <!-- <style>
      .sidebar-dark-primary {
        background-color: #030025 !important; /* Change to green color */
      }
    </style> -->
</head>

<body>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link logo-switch this">
      Food Center
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">
            <%= (!!locals.admin)?admin:'Admin' %>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <!-- Thống Kê -->
          <li class="nav-item">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-chart-bar"></i>
              <label>
                Thống kê
                <i class="right fas fa-angle-left"></i>
              </label>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/thong-ke/doanh-thu" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Doanh thu</label>
                </a>
              </li>
              <li class="nav-item">
                <a href="/thong-ke/mon-ban-chay" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Món bán chạy</label>
                </a>
              </li>
              <li class="nav-item">
                <a href="/thong-ke/giao-dich" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Giao dịch</label>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý khách hàng -->
          <li class="nav-item">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-users"></i>
              <label>
                Quản lý khách hàng
                <i class="right fas fa-angle-left"></i>
              </label>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/khach-hang/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Danh sách</label>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý khuyến mãi -->
          <li class="nav-item">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-tags"></i>
              <label>
                Quản lý khuyến mãi
                <i class="right fas fa-angle-left"></i>
              </label>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/khuyen-mai/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Danh sách</label>
                </a>
              </li>
              <li class="nav-item">
                <a href="/khuyen-mai/them-moi" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Thêm mới</label>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý món -->
          <li class="nav-item">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-utensils"></i>
              <label>
                Quản lý món
                <i class="right fas fa-angle-left"></i>
              </label>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/mon/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Danh sách</label>
                </a>
              </li>
              <li class="nav-item">
                <a href="/loai-mon/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Loại món</label>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý cửa hàng -->
          <li class="nav-item menu-open">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-store"></i>
              <label>
                Quản lý cửa hàng
                <i class="right fas fa-angle-left"></i>
              </label>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/cua-hang/danh-sach" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Danh sách</label>
                </a>
              </li>
              <li class="nav-item">
                <a href="/cua-hang/them-moi" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Thêm mới</label>
                </a>
              </li>
              <li class="nav-item">
                <a href="/quan-ly/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Tài khoản quản lý</label>
                </a>
              </li>
            </ul>
          </li>
          <!-- hóa đơn -->
          <li class="nav-item menu-open">
            <a href="" class="nav-link open">
              <i class="nav-icon fas fa-users"></i>
              <label>
                Quản lý Hóa Đơn
                <i class="right fas fa-angle-left"></i>
              </label>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/hoa-don/danh-sach" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <label>Danh sách</label>
                </a>
              </li>
            </ul>
          </li>
          <!-- Đăng xuất -->
          <li class="nav-item border-top border-1 ">
            <a href="/auth/sign-out" class="nav-link">
              <i class="fa-solid fa-arrow-right-from-bracket nav-icon"></i>
              <label>
                Sign-Out
              </label>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- <h1><%= (!!locals.title)?title:'' %></h1> -->

  <div class="content-wrapper">
    <div class="content-header border border-bottom-1">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Cửa hàng</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Cửa hàng</a></li>
              <li class="breadcrumb-item"><a href="#">Danh sách</a></li>
              <li class="breadcrumb-item active">Chi tiết</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <section class="content">
      <div class="container-fluid bg-white m-2">

        <!-- Main content nằm ở dây -->

<!-- Bắt đầu chi tiết -->
        <h3><%=chiTietCH.tenCH%></h3>
        <label class="font-weight-normal">Email: <%=chiTietCH.email%></label>
        <br>
        <label class="font-weight-normal">Số điện thoại: <%=chiTietCH.sdt%></label>
        <br>
        <label class="font-weight-normal">Địa chỉ: <%=chiTietCH.diaChi%></label>
        <br>
        <label class="font-weight-normal">Số lượng nhân viên: <%=chiTietCH.soLuongNhanVien%></label>
        <br>
        <label class="font-weight-normal">Thời gian mở cửa: <%=chiTietCH.thoiGianMo%></label>
        <br>
        <label class="font-weight-normal">Thời gian đóng cửa: <%=chiTietCH.thoiGianDong%></label>
        <br>
        <label class="font-weight-normal">Trạng thái: </label>
        <% if(chiTietCH.trangThai==true){%>
          <label class="text-success" scope="col-2">Hoạt động</label>
        <%}else{%>
          <label class="text-danger" scope="col-2">Khóa</label>
        <%}%>
        <br>

<!-- Kết thúc chi tiết -->

<!-- Bắt đầu bảng tài khoản quản lý -->
        <label >Danh sách tài khoản quản lý</label>
        <br>
        <label class="font-weight-normal">Đã tìm thấy <%=NVQL.length%> kết quả </label>

        <table class="table table-bordered border-secondary">
          <thead>
            <tr class="table-secondary">
              <td scope="col-1" class="col-1">STT</td>
              <td scope="col-2" class="col-5">Tên quản lý</td>
              <td scope="col-2" class="col-2">Số điện thoại</td>
              <td scope="col-2" class="col-2">Trạng thái</td>
              <td scope="col-1" class="col-2">Chức năng</td>
            </tr>
          </thead>
          <tbody>
            <%if(NVQL == null || NVQL == undefined){%>
              <tr>
                <td scope="col-1" class="col-1"></td>
                <td scope="col-2" class="col-5"></td>
                <td scope="col-2" class="col-2"></td>
                <td scope="col-2" class="col-2"></td>
                <td scope="col-1" class="col-2"></td>
              </tr>
            <%}else{%>
              <% for (var i=0; i<NVQL.length; i++) {%>
                <tr>
                  <td scope="col-2" class="col-1"><%=i+1%></td>
                  <td scope="col-1" class="col-5"><%=NVQL[i].tenNV%></td>
                  <td scope="col-2" class="col-2"><%=NVQL[i].sdt%></td>
                  <% if(NVQL[i].trangThai==true){%>
                    <td class="text-success" scope="col-2" class="col-2">Hoạt động</td>
                  <%}else{%>
                    <td class="text-danger" scope="col-2" class="col-2">Khóa</td>
                  <%}%>
                  <td scope="col-1" class="text-primary col-2">chi tiết</td>
                </tr>
              <%}%>
            <%}%>
          </tbody>
        </table>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-dark col-2">Thêm mới</button>
        </div>

<!-- Kết thúc bảng tài khoản quản lý-->

<!-- Bắt đầu bảng món của cửa hàng -->
        <label >Danh sách món của cửa hàng</label>
        <br>
        <label class="font-weight-normal">Đã tìm thấy kết quả</label>

        <table class="table table-bordered border-secondary">
          <thead>
            <tr class="table-secondary">
              <td scope="col-1" class="col-1">STT</td>
              <td scope="col-2" class="col-2">Tên món</td>
              <td scope="col-2" class="col-2">Loại món</td>
              <td scope="col-2" class="col-2">Loại món</td>
              <td scope="col-2" class="col-1">Giá tiền</td>
              <td scope="col-2" class="col-2">Trạng thái</td>
              <td scope="col-1" class="col-2">Chức năng</td>
            </tr>
          </thead>
          <tbody>
            <%if(monCH == null || monCH == undefined){%>
              <tr>
                <td scope="col-1" class="col-1"></td>
                <td scope="col-2" class="col-2"></td>
                <td scope="col-2" class="col-2"></td>
                <td scope="col-2" class="col-2"></td>
                <td scope="col-2" class="col-1"></td>
                <td scope="col-2" class="col-2"></td>
                <td scope="col-1" class="col-2"></td>
              </tr>
            <%}else{%>
              <% for (var i=0; i<monCH.length; i++) {%>
                <tr>
                  <td scope="col-2" class="col-1"><%=i+1%></td>
                  <td scope="col-1" class="col-2"><%=monCH[i].tenMon%></td>
                  <td scope="col-2" class="col-2"><%=monCH[i].idLM%></td>
                  <td scope="col-2" class="col-2"><%=monCH[i].idCH%></td>
                  <td scope="col-2" class="col-1"><%=monCH[i].giaTien%></td>
                  <% if(monCH[i].trangThai==true){%>
                    <td class="text-success" scope="col-2" class="col-2">Hoạt động</td>
                  <%}else{%>
                    <td class="text-danger" scope="col-2" class="col-2">Khóa</td>
                  <%}%>
                  <td scope="col-1" class="text-primary col-2">chi tiết</td>
                </tr>
              <%}%>
            <%}%>
          </tbody>
        </table>

<!-- Kết thúc bảng tài khoản quản lý-->
      </div>
    </section>
  </div>

  <!-- Scripts -->
  <script type="text/javascript">
    $(document).ready(function () {
      $(".open").click(function (e) {
        e.stopPropagation()
        e.preventDefault()
        $(this).parent().toggleClass('menu-open');
      }
      )
    }
    )
  </script>
</body>

</html>